.menu__item > ul {
    padding: inherit;
    margin: initial;
    background-color: initial;
    font-size: initial;
}
.menu__sub-menu > li {
    margin: initial!important;
    padding: initial;
}
.menu__sub-menu > li:before {
    content: none;
}

.button_type_pay {
    background-color: #f5efe6;
    color: #fff;
}
.button_type_pay::before {
    //content: url("./../img/pay_btn.png");
}

.menu__sub-menu {
    transition-delay: 0.0s;
}

.banner_bordered .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

.banner_main .swiper-wrapper {
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
}

.modal_bottom > .modal__content > .modal-body {
    position: absolute;
    bottom: 0px;
    padding-right: 40px;
}

.modal_bottom > .modal__content > .modal-body > .button-group {
    justify-content: space-around;
}

.modal_right .modal-body {
    min-width: auto;
}

.payment__list-item .payment-choice__icon > img {
    max-width: 178px;
}

.offers {
    margin-bottom: 80px;
}

@media only screen and (min-width: 768px) {
    .modal_bottom > .modal__content > .modal-body {
        position: relative;
        bottom: auto;
        padding-right: 70px;
    }
    .modal_right .modal-body {
        min-width: 424px;
    }
    .accordion{
        max-width: 70%;
    }
    .extrabc{
        width: 70% !important;
    }
    .extrabi{
        width: 30% !important;
    }
    .menu__item:last-child {
        margin-right: 32px !important;
    }
}

@media only screen and (max-width: 767px) {
    #terms{
        z-index: 5001;
    }
    #terms .modal-body{
        position: static !important;
        overflow-y: scroll !important;
        height: 100% !important;
    }
    #terms .modal__content{
        position: fixed !important;
        bottom: 0px;
        height: 100%;
        max-height: 100%;
    }

    #terms h2{
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 16px;
    }
    .news-item_shadow{
        background-size: contain !important;
    }
    .fortohide{
        display: none !important;
    }
    .pay{
        padding-bottom:30px !important;
    }
    .aside{
        margin-bottom: 30px !important;
    }

    .main:not(.index-page) .actions {
        display: none!important;
    }
    .modal_right{
        height: 100% !important;
    }
    .modal_right .modal-body{
        height: 100% !important;
    }
    .banner_main{
        max-height: 650px !important;
    }
    .swiper_wrapper{
        max-height: 100% !important;
    }
    .blat{
        margin: 100px 10px;
        position: relative !important;
    }
    #hbutton{
        display: none;
    }
    .blat #button{
        max-width: 50%;
    }

}

@media only screen and (min-width: 767px){
    #terms h2{
        margin-bottom: 36px;
    }
    .payment__list-item{
        max-width: 50% !important;
    }
    .blat{
        margin-right: 50px;;
        margin-top: 20%;
    }
    .blat .container h2{
        max-width: 600px;
    }
    .blat .container .desc{
        max-width: 400px;
    }
}

.modal-body__intro{
    color: #ffffff !important;
}

@media only screen and (min-width: 768px) {
    .theaside{
        padding: 0px !important;
        margin-left: 0px !important;
    }
    .aside .thepayment__list-item{
        width: 100% !important;
        margin-bottom: 120px;
        margin-top: 180px;
        margin-left: 0 !important;
    }

    .aside .contact-us{
        padding: 0 !important;
    }
    .aside .payment-choice__icon img{
        max-height: 250px !important;
    }
    .superh{
        text-align:center;
        margin-top: 100px !important;
    }
}

.swiper-pagination-bullet-active{
    background:#852c22!important;
}
.swiper-pagination-bullet-active:focus {
    outline: 0px solid #852c22 !important;
}

.theaside{
    text-align:center;
}

.mainh {
    line-height: 40px;
    font-size: 36px;
    margin-bottom: 32px;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .mainh {
        font-size: 28px;
        margin-bottom: 16px;
    }
    .superh{
        padding: 16px;
    }
    .header__number{
        font-size: 15px !important;
        line-height: 18px !important;
    }
}

.logo__text{
    white-space: nowrap;
}

.review{
    padding: 30px 20px 1px;
}

.review:nth-child(even){
    background-color:whitesmoke;
}

.review .name{
    color: #852c22;
}

#otzivi{
    padding: 20px;
}

#otzivi #text{
    padding-top: 25px;
}

.score::before{
    content: "ÐžÑ†ÐµÐ½ÐºÐ°: ";
    font-weight: bold;
}
.score{
    margin-bottom: 30px;
}

#otzivi input[type="radio"]{
    margin-left: 25px;
    margin-right: 5px;
}

.checkbox_fault{
    margin-top: -20px !important;
}

@media only screen and (min-width: 1024px) {
    .header {
        /* justify-content: space-between !important; */
        justify-content: flex-end !important;
    }
}

.logo__text{
    white-space: nowrap;
}

@media only screen and (max-width: 540px){
    .logo__text{
        display: none;
    }
    .header__time{
        font-size:10px;
        line-height: 12px;
    }
}

@media only screen and (max-width: 540px){
    .header__contacts{
        margin-right: 0px !important;
    }
}

.header__contacts{
    text-align: right;
}

@media only screen and (max-width: 340px){
    .header__menu{
        padding: 0 5px !important;
    }
}

.nomar {
    margin-bottom: 0 !important;
}
.nomart{
    margin-top: 60px !important;
}
.logo__text{
    display: none !important;
}

.header{
    position: fixed !important;
    width: 100%;
    background-color: white !important;
    top: 0px !important;
}

.banner_main{
    margin-top: 0 !important;
}

.page-wrapper > .content{
    margin-top: 115px !important;
}

.banner_main+.content{
    margin-top: 0px !important;
}

@media only screen and (max-width: 768px){
    .header{padding-bottom: 16px !important;}
}

.swiper-pagination-bullets{
    bottom: 130px !important;
}

@media only screen and (max-width: 768px){
    .swiper-pagination-bullets{
        display: none !important;
    }
    .faqmore{
        margin-bottom: 30px;
    }
    .mhide{
        display: none;
    }
}

@media only screen and (min-width: 767px){
    .half{
        width: 50% !important;
    }
    .half > .payment__list-item{
        width: 100% !important;
        max-width: 100% !important;
    }
}

.accordion + .more{
    margin-top: -70px !important;
}

.license{
    flex-direction: column;
}

.license__item{
    align-self: stretch;
    align-self: center;
}

@media only screen and (max-width: 540px){
    .questions > .mainh{
        margin-top: 55px !important;
    }
    .questions .faqmore{
        margin-top: -30px;
    }
}

#paging a{
    padding: 3px 10px !important;
}

.offer-item__text::after {
    content: '';
    display: inline-block;
    width: 52px;
    height: 1px;
    border-radius: 2px;
    background-color: #872d23;
}
.offer-item__desc{
    text-align: center;
    font-size:smaller;
}

@media only screen and (max-width: 540px){
    .sdesk{
        font-size: 10px !important;
    }
}

@media only screen and (min-width: 668px) and (max-width: 1280px) {
    .modal__content{
        width: 70%;
        max-width: 450px;
    }
    .social a{
        float: left;
        margin-right: 10px;
    }
    .modal__content .button_size_full{
        max-width: 300px;
    }
}

.sub-menu__item:not(:last-child) {
    margin-right: 30px;
}

#zubmit{
    width: 100% !important;
}
#zubmit > .button__text{
    font-size: 18px !important;
    line-height: 22px !important;
    letter-spacing: 0.4px !important;
    font-weight: 800 !important;
}


#callbutton{
    height: 0;
    position: fixed;
    bottom: 95px;;
    left: 0;
    right: 0;
    max-width: 1170px;
    margin: 0 auto;
    display: block;
    z-index: 99999;
    padding: 0 72px;
    width: 100%;
    text-align: right;
}

#callbutton  img{
    height: 70px;
}


@media only screen and (max-width: 767px){
    #callbutton{
        padding: 0 10px;
    }
    #callbutton  img{
        height: 50px;
    }
}

.shadov{
    background: #000;
    opacity: 0.5;
    transition: opacity .5s ease-out;
}

.grecaptcha-badge {
    visibility: hidden;
}


.preloader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preloader_full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: none;
    z-index: 99999999999;
}

.preloader__spinner {
    /*     margin: 50%;   */
    position: fixed;
    top: 50%;
    left: 50%;
    width: 68px;
    animation-name: spinner;
    animation-iteration-count: infinite;
    animation-duration: 1400ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: rotate(0);
}

@keyframes spinner {
    0% {
        transform: scale(1) rotate(0);
    }
    50% {
        transform: scale(0.9) rotate(180deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

@media screen and (max-width: 1300px) {
    .preloader_spinner {
        width: 50px;
    }
}

@media only screen and (max-width: 767px) {
    #ordercall .modal-body{
        position: static !important;
        overflow-y: scroll !important;
        height: 100% !important;
    }
    #ordercall .modal__content{
        position: fixed !important;
        bottom: 0px;
        height: 100%;
        max-height: 100%;
    }
}

#ordercall .modal-body{
    box-shadow: none;
    max-width: 400px;
}

#googledecl > span{
    font-size: 10px;
}
