.ms-index-exp {
    border-radius: 4px;
    padding: 15px 15px 15px 110px;
    background-repeat: no-repeat;
    background-position: 15px 15px;
    width: 32%;
    margin: 0 1% 30px 0;
    display: inline-block;
    vertical-align: top;
    @media (max-width: 992px) {
        width: 100%;
        background-size: 60px;
        background-position: 0 12px;
        padding: 7px 15px 5px 85px;
    }
}

.ms-index-exp-h1 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}

.ms-index-exp a {
    display: block;
    padding-bottom: 10px;
}
.documents-index {
    padding: 80px 0 80px;
    display: flex;

    &__index-img {
        background: url(http://kubexp.ru/img/bg_frame_small.png) no-repeat center center;
        width: 195px;
        height: 248px;
        padding: 26px;
        margin-right: 50px;
    }
}

.ms-docs-one {
    display: inline-block;
    width: 33%;
    padding: 0 20px 50px 0;
    vertical-align: top;
}
.ms-docs-one-v {
    width: 326px;
    height: 432px;
    background: url(http://kubexp.ru/img/bg_doc_v.png) no-repeat top left;
    position: relative;
    cursor: pointer;
}

.ms-docs-one-h {
    width: 325px;
    height: 253px;
    background: url(http://kubexp.ru/img/bg_doc_v.png) no-repeat top left;
    position: relative;
    cursor: pointer;
}

.ms-docs-one-h .ms-docs-zoom, .ms-docs-one-v .ms-docs-zoom {
    position: absolute;
    background: url(http://kubexp.ru/svg/ico_zoom.svg) no-repeat center center;
    background-size: 60px;
    top: 85px;
    left: 130px;
    width: 60px;
    height: 60px;
    z-index: 2;
    display: none;
}

.ms-docs-canvas {
    width: 234px;
    height: 342px;
    position: absolute;
    top: 35px;
    left: 35px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    z-index: 1;
    overflow: hidden;
}
